
header {
  background-color: red;
  height: 35vh;
}

.headline {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  font-family: $headingFont;
  color: $darkAccent;
  font-size: 6em;
  text-align: center;
  padding-top: 10%;
  letter-spacing: 0.02em;
}

.l {
  letter-spacing: 0.23em;
}

.instructions {
  font-weight: 700;
}

