.wrapper {
  max-width: 900px;
  width: 95%;
	margin: 0 auto;
}

body {
  background: $backgroundColor;
}

.intro, .textBox {
  background: $textBoxBack;
  border-radius: 10px;
  box-shadow: 6px 6px #C0C0C0; 
  width: 50%;
  height: 200px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $bodyFont;
  padding: 30px;
  font-size: 1rem;
}

//Toggles - note: concept for the toggles is borrowed from Juno House Plants Guide code along. 

// removing the image of the checkbox from the screen
input[type="checkbox"] {
  opacity: 0;
}

.toggleLabel {
  font-family: $bodyFont;
  font-size: 1.5rem;
  margin: 15px 0;
  padding-right: 110px;
  line-height: 20px;
  position: relative;
  display: block;
}

form {
  padding-top: 5%;
}

.bottomForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggleLabel::before {
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background: $buttonColor;
  position: absolute;
  right: 0;
  top: 0;
}

/*middle of toggle switch*/
.toggleLabel::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px; 
  right: 65px;
}

input[type="checkbox"]:checked + .toggleLabel::after {
  right: 5px;
}

input[type="checkbox"]:checked + .toggleLabel::before {
  background: $accentColor1;
}

 /* for accessibility */
  input[type="checkbox"]:active + .toggleLabel::before,
  input[type="checkbox"]:focus + .toggleLabel::before {
}

button {
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px #C0C0C0; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 100;
  text-transform: uppercase;
  padding: 20px;
  font-family: $bodyFont;
  height: 120px;
  width: 400px;
  transition: all 0.3s ease 0s;
}

.reset {
  background-color: $headingColor;
  margin: 10% 0 10% 0;
}

.reset:hover, .calculate:hover {
  font-weight: 700;
  letter-spacing: 3px;
  background-color: $textBoxBack;
  color: $headingColor;
  transition: all 0.3s ease 0s;
}

.calculate {
  background-color: $buttonColor2;
  margin: 5% 0 5% 0;
}

.toggleVisibility1, 
.toggleVisibility2, 
.toggleVisibility3,
.toggleVisibility4,
.toggleVisibility5,
.toggleVisibility11,
.toggleVisibility22, 
.toggleVisibility33,
.toggleVisibility44,
.toggleVisibility55 {
  display: none;
  padding: 10px;
  font-size: 1rem;
  font-family: $bodyFont;
}

.jacketBox, .tshirtBox, .sweaterBox, .canvasBox, .silkBox {
  display: none;
  height: 100px;
}

.jacketBox {
  width: 120px;
  background-color: $accentColor2;
}

.tshirtBox {
  width: 80px;
  background-color: $headingColor;
}

.sweaterBox {
  width:600px;
  background-color: $buttonColor;
}

.canvasBox {
  width: 130px;
  background-color: $buttonColor2;
}

.silkBox {
  width: 400px;
  background-color: $accentColor3;
}

.jacket, 
.tshirt, 
.sweater,
.canvas, 
.silk {
  padding: 20px;
  width: 60%;
}

.one, .two, .three, .four, .five {
  height: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.leftOne, .leftTwo, .leftThree, .leftFour, .leftFive {
  width: 35%;
}

//Calculate Section
.calculateTotal {
  background-color: $accentColor1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// mobile (tablet) view styles //////////////////////////////////////

.tablet {
  background-color: $textBoxBack;
  padding-bottom: 60px;
  display: none;
}

.verticalBars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.colorBox1, .colorBox2, .colorBox3, .colorBox4, .colorBox5 {
  width: 15%;
  opacity: 0;
}

.colorBox1 {
  background-color: $accentColor2;
  height: 500px;
}

.colorBox2 {
  background-color: $headingColor;
  height: 250px;
}

.colorBox3 {
  background-color: $buttonColor;
  height: 3000px;
}

.colorBox4  {
  background-color: $buttonColor2;
  height: 500px;
}
.colorBox5 {
  background-color: $accentColor3;
  height: 2000px;
}

.secondToggles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
}

.toggleLabel2 {
  font-family: $bodyFont;
  font-size: 1rem;
  margin: 40px 20px;
  padding-right: 110px;
  line-height: 20px;
  position: relative;
  display: block;
}

.toggleLabel2::before {
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background: $buttonColor;
  position: absolute;
  right: 0;
  top: 0;
}

/*middle of toggle switch*/
.toggleLabel2::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px; 
  right: 65px;
}

input[type="checkbox"]:checked + .toggleLabel2::after {
  right: 5px;
}

input[type="checkbox"]:checked + .toggleLabel2::before {
  background: $accentColor1;
}


/////////// mobile (phone) view styles ///////////////////////

.phone {
//display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: $backgroundColor;
display: none;
}

.box11, .box22, .box33, .box44, .box55 {
  width: 300px;
  height: 100px;
}

.box11 {
  background: $accentColor2;
  height: 200px;
}

.box22 {
  background: $headingColor;
  height: 100px;
}

.box33 {
  background: $buttonColor;
  height: 1200px;
}

.box44 {
  background: $buttonColor2;
  height: 200px;
}

.box55 {
  background: $accentColor3;
  height: 800px;
}

.showOnPageLoad, .showOnClick {
  font-size: 1rem;
  font-family: $bodyFont;
  padding: 10px;
}

.showOnClick {
  display: none;
  color: $bodyFont;
  font-size: 1rem;
}

.colorScroll {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions2 {
  margin-top: 5%;
  width: 300px;
  background: $buttonColor2;
  color: white;
  border-radius: 10px;
  box-shadow: 6px 6px #C0C0C0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-family: $bodyFont;
  padding: 20px;
}

.intro2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

