
@media (max-width: 1600px){

  .horizontalView {
    display: none;
  }

  .tablet {
    display: block;
  }

  .phone {
    display: none;
  }
}

/* portrait tablet to landscape phone */
@media (max-width: 1450px) {

  header {
    height: 1200px;
  }

  h1 {
    font-size: 5em;
    padding: 40px 20px 20px 20px;
  }

  button {
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: uppercase;
  padding: 20px;
  font-family: $bodyFont;
  height: 100px;
  width: 290px;
  transition: all 0.3s ease 0s;
}

  .tablet {
    display: none;
  }

  .phone {
    display: block;
  }
}
