$baseFontColor: #232323;
$backgroundColor: #F7EDE2;
$headingColor: #f28482;
$buttonColor: #84a59d;
$buttonColor2: #8f5779;
$accentColor1: #f5cac3;
$accentColor2: #f6bd60;
$accentColor3:#949595;
$darkAccent: #5f0f40;
$textBoxBack: #fdf2f2;
$headingFont:'Lobster', cursive;
$bodyFont: 'Comfortaa', cursive;