a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background: #f5cac3;
  height: 35vh;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

h1 {
  font-family: "Lobster", cursive;
  color: #5f0f40;
  font-size: 6em;
  text-align: center;
  padding-top: 10%;
  letter-spacing: 0.02em;
}

.l {
  letter-spacing: 0.23em;
}

.instructions {
  font-weight: 700;
}

.wrapper {
  max-width: 900px;
  width: 95%;
  margin: 0 auto;
}

body {
  background: #F7EDE2;
}

.intro, .textBox {
  background: #fdf2f2;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px #C0C0C0;
          box-shadow: 6px 6px #C0C0C0;
  width: 50%;
  height: 200px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Comfortaa", cursive;
  padding: 30px;
  font-size: 1rem;
}

input[type="checkbox"] {
  opacity: 0;
}

.toggleLabel {
  font-family: "Comfortaa", cursive;
  font-size: 1.5rem;
  margin: 15px 0;
  padding-right: 110px;
  line-height: 20px;
  position: relative;
  display: block;
}

form {
  padding-top: 5%;
}

.bottomForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggleLabel::before {
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background: #84a59d;
  position: absolute;
  right: 0;
  top: 0;
}

/*middle of toggle switch*/
.toggleLabel::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 65px;
}

input[type="checkbox"]:checked + .toggleLabel::after {
  right: 5px;
}

input[type="checkbox"]:checked + .toggleLabel::before {
  background: #f5cac3;
}

/* for accessibility */
button {
  color: white;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px #C0C0C0;
          box-shadow: 2px 2px #C0C0C0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5rem;
  font-weight: 100;
  text-transform: uppercase;
  padding: 20px;
  font-family: "Comfortaa", cursive;
  height: 120px;
  width: 400px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reset {
  background-color: #f28482;
  margin: 10% 0 10% 0;
}

.reset:hover, .calculate:hover {
  font-weight: 700;
  letter-spacing: 3px;
  background-color: #fdf2f2;
  color: #f28482;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.calculate {
  background-color: #8f5779;
  margin: 5% 0 5% 0;
}

.toggleVisibility1,
.toggleVisibility2,
.toggleVisibility3,
.toggleVisibility4,
.toggleVisibility5,
.toggleVisibility11,
.toggleVisibility22,
.toggleVisibility33,
.toggleVisibility44,
.toggleVisibility55 {
  display: none;
  padding: 10px;
  font-size: 1rem;
  font-family: "Comfortaa", cursive;
}

.jacketBox, .tshirtBox, .sweaterBox, .canvasBox, .silkBox {
  display: none;
  height: 100px;
}

.jacketBox {
  width: 120px;
  background-color: #f6bd60;
}

.tshirtBox {
  width: 80px;
  background-color: #f28482;
}

.sweaterBox {
  width: 600px;
  background-color: #84a59d;
}

.canvasBox {
  width: 130px;
  background-color: #8f5779;
}

.silkBox {
  width: 400px;
  background-color: #949595;
}

.jacket,
.tshirt,
.sweater,
.canvas,
.silk {
  padding: 20px;
  width: 60%;
}

.one, .two, .three, .four, .five {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
}

.leftOne, .leftTwo, .leftThree, .leftFour, .leftFive {
  width: 35%;
}

.calculateTotal {
  background-color: #f5cac3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablet {
  background-color: #fdf2f2;
  padding-bottom: 60px;
  display: none;
}

.verticalBars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.colorBox1, .colorBox2, .colorBox3, .colorBox4, .colorBox5 {
  width: 15%;
  opacity: 0;
}

.colorBox1 {
  background-color: #f6bd60;
  height: 500px;
}

.colorBox2 {
  background-color: #f28482;
  height: 250px;
}

.colorBox3 {
  background-color: #84a59d;
  height: 3000px;
}

.colorBox4 {
  background-color: #8f5779;
  height: 500px;
}

.colorBox5 {
  background-color: #949595;
  height: 2000px;
}

.secondToggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.toggleLabel2 {
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  margin: 40px 20px;
  padding-right: 110px;
  line-height: 20px;
  position: relative;
  display: block;
}

.toggleLabel2::before {
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background: #84a59d;
  position: absolute;
  right: 0;
  top: 0;
}

/*middle of toggle switch*/
.toggleLabel2::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 65px;
}

input[type="checkbox"]:checked + .toggleLabel2::after {
  right: 5px;
}

input[type="checkbox"]:checked + .toggleLabel2::before {
  background: #f5cac3;
}

.phone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7EDE2;
  display: none;
}

.box11, .box22, .box33, .box44, .box55 {
  width: 300px;
  height: 100px;
}

.box11 {
  background: #f6bd60;
  height: 200px;
}

.box22 {
  background: #f28482;
  height: 100px;
}

.box33 {
  background: #84a59d;
  height: 1200px;
}

.box44 {
  background: #8f5779;
  height: 200px;
}

.box55 {
  background: #949595;
  height: 800px;
}

.showOnPageLoad, .showOnClick {
  font-size: 1rem;
  font-family: "Comfortaa", cursive;
  padding: 10px;
}

.showOnClick {
  display: none;
  color: "Comfortaa", cursive;
  font-size: 1rem;
}

.colorScroll {
  margin-top: 5%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions2 {
  margin-top: 5%;
  width: 300px;
  background: #8f5779;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px #C0C0C0;
          box-shadow: 6px 6px #C0C0C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7rem;
  font-family: "Comfortaa", cursive;
  padding: 20px;
}

.intro2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  text-align: center;
  font-family: "Comfortaa", cursive;
  padding: 5% 0 2% 0;
  color: #f5cac3;
}

footer {
  background: #84a59d;
}

@media (max-width: 1400px) {
  .horizontalView {
    display: none;
  }
  .tablet {
    display: block;
  }
  .phone {
    display: none;
  }
}

/* portrait tablet to landscape phone */
@media (max-width: 768px) {
  header {
    height: 400px;
  }
  h1 {
    font-size: 5em;
    padding: 40px 20px 20px 20px;
  }
  button {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 20px;
    font-family: "Comfortaa", cursive;
    height: 100px;
    width: 290px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .tablet {
    display: none;
  }
  .phone {
    display: block;
  }
}
